#button-2 { border: 0px none ; margin: 0px; padding: 0px; position: absolute; height: 40px; width: 130px; background-color: rgb(238, 238, 238); top: 472px; left: 57px; }
.textbox-21-style3 { font-size: 12pt; }
body {  }
a:visited { color: rgb(128, 0, 128); }
#body-container { width: 970px; color: rgb(34, 61, 124); font-family: Verdana,Geneva,sans-serif; font-size: 16pt; margin-left: auto; margin-right: auto; }
#textbox-19 { position: absolute; width: 924px; height: 49px; top: 35px; left: 54px; z-index: 0; }
.textbox-19-style1 { font-size: 16pt; }
#textbox-20 { position: absolute; width: 680px; height: 315px; top: 113px; left: 9px; z-index: 0; }
.textbox-20-style1 { font-size: 12pt; }
.textbox-20-style2 { font-weight: bold; }
.textbox-20-style3 { font-size: 12pt; }
.textbox-20-style4 { font-weight: bold; }
.textbox-20-style5 { font-weight: bold; }
.textbox-20-style6 { font-size: 12pt; }
.textbox-20-style7 { font-weight: bold; }
.textbox-20-style8 { font-size: 12pt; }
.textbox-20-style9 { font-weight: bold; }
.textbox-20-style10 { font-size: 12pt; }
.textbox-20-style11 { font-weight: bold; }
#image-1 { position: absolute; width: 689px; height: 386px; top: 71px; left: 12px; z-index: 0; }
#image-2 { position: absolute; width: 256px; height: 211px; top: 193px; left: 708px; z-index: 0; }
.textbox-20-style12 { font-size: 12pt; }
#button-1 { margin: 0px; position: absolute; height: 50px; width: 100px; top: 479px; left: 848px; z-index: 0; color: rgb(0, 0, 0); text-align: center; }
#textbox-21 { position: absolute; width: 622px; height: 49px; top: 77px; left: 31px; z-index: 0; }
.textbox-21-style1 { text-align: center; }
.textbox-21-style2 { font-size: 12pt; text-decoration: underline; }
