#image-3 { position: absolute; width: 117px; height: 147px; top: 288px; left: 748px; z-index: 0; }
#image-2 { position: absolute; width: 124px; height: 145px; top: 269px; left: 112px; z-index: 0; }
.textbox-8-style2 { font-size: 16pt; }
.textbox-8-style1 { text-align: center; }
#textbox-8 { border: 2px solid rgb(182, 181, 179); padding: 10px; position: absolute; width: 754px; height: 100px; top: 153px; left: 104px; z-index: 0; -moz-border-radius-topleft: 15px; -webkit-border-radius-topleft: 15px; border-radius-topleft: 15px; -moz-border-radius-topright: 15px; -webkit-border-radius-topright: 15px; border-radius-topright: 15px; -moz-border-radius-bottomright: 15px; -webkit-border-radius-bottomright: 15px; border-radius-bottomright: 15px; -moz-border-radius-bottomleft: 15px; -webkit-border-radius-bottomleft: 15px; border-radius-bottomleft: 15px; background-color: rgb(231, 243, 253); behavior: url(/PIE.htc); }
#textbox-2 { z-index: 0; position: absolute; width: 944px; height: 34px; top: 94px; left: 12px; }
#textbox-6 { position: absolute; width: 441px; height: 43px; top: 266px; left: 268px; z-index: 0; }
#button-1 { margin: 0px; position: absolute; height: 59px; width: 130px; top: 474px; left: 794px; z-index: 0; color: rgb(0, 0, 0); text-align: center; }
#button-2 { margin: 0px; position: absolute; height: 59px; width: 130px; top: 464px; left: 44px; z-index: 0; color: rgb(0, 0, 0); text-align: center; }
#textbox-7 { z-index: 0; position: absolute; width: 273px; height: 50px; top: 60px; left: 15px; }
.textbox-6-style3 { color: rgb(255, 0, 0); font-weight: bold; }
.textbox-6-style2 { font-size: 12pt; }
.textbox-6-style1 { text-align: center; }
#image-1 { z-index: 0; position: absolute; width: 27px; height: 26px; top: 327px; left: 412px; }
.choiceInteraction-question1_able-style1 { color: rgb(255, 255, 255); }
#choiceInteraction-r_question2_able { border: 2px solid rgb(182, 181, 179); padding: 10px; position: absolute; width: 451px; height: 210px; top: 314px; left: 262px; z-index: 0; font-family: Verdana,Geneva,sans-serif; font-size: 13pt; }
.textbox-5-style1 { text-align: center; }
.textbox-2-style2 { font-size: 12pt; }
.textbox-2-style1 { text-align: center; }
.textbox-1-style2 { font-size: 16pt; color: rgb(255, 255, 255); }
.textbox-1-style1 { text-align: center; }
#body-container { width: 970px; color: rgb(34, 61, 124); font-family: Verdana,Geneva,sans-serif; font-size: 16pt; margin-left: auto; margin-right: auto; }
a:visited { color: rgb(128, 0, 128); }
body {  }
