#textbox-51 { position: absolute; width: 26px; height: 31px; top: 343px; left: 644px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-50 { position: absolute; width: 26px; height: 31px; top: 327px; left: 617px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-49 { position: absolute; width: 26px; height: 31px; top: 335px; left: 577px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-48 { position: absolute; width: 26px; height: 31px; top: 323px; left: 552px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-47 { position: absolute; width: 26px; height: 31px; top: 330px; left: 512px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-46 { position: absolute; width: 26px; height: 31px; top: 308px; left: 491px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-45 { position: absolute; width: 26px; height: 31px; top: 314px; left: 448px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-44 { position: absolute; width: 26px; height: 31px; top: 298px; left: 418px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-43 { position: absolute; width: 26px; height: 31px; top: 302px; left: 385px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-42 { position: absolute; width: 26px; height: 31px; top: 286px; left: 352px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-41 { position: absolute; width: 26px; height: 31px; top: 298px; left: 314px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-40 { position: absolute; width: 26px; height: 31px; top: 281px; left: 287px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-39 { position: absolute; width: 26px; height: 31px; top: 292px; left: 250px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-38 { position: absolute; width: 26px; height: 31px; top: 275px; left: 220px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-37 { position: absolute; width: 26px; height: 31px; top: 288px; left: 182px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-36 { position: absolute; width: 26px; height: 31px; top: 269px; left: 148px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-35 { position: absolute; width: 26px; height: 31px; top: 232px; left: 377px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-34 { position: absolute; width: 26px; height: 31px; top: 230px; left: 330px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-33 { position: absolute; width: 26px; height: 31px; top: 217px; left: 402px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-32 { position: absolute; width: 26px; height: 31px; top: 222px; left: 447px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-31 { position: absolute; width: 26px; height: 31px; top: 202px; left: 486px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-30 { position: absolute; width: 26px; height: 31px; top: 215px; left: 523px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-29 { position: absolute; width: 26px; height: 31px; top: 194px; left: 561px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-28 { position: absolute; width: 26px; height: 31px; top: 211px; left: 597px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-27 { position: absolute; width: 26px; height: 31px; top: 196px; left: 638px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-26 { position: absolute; width: 26px; height: 31px; top: 205px; left: 683px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-25 { position: absolute; width: 26px; height: 31px; top: 207px; left: 768px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-24 { position: absolute; width: 26px; height: 31px; top: 195px; left: 724px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-23 { position: absolute; width: 26px; height: 31px; top: 187px; left: 806px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-22 { position: absolute; width: 26px; height: 31px; top: 186px; left: 854px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-21 { position: absolute; width: 26px; height: 31px; top: 384px; left: 837px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-20 { position: absolute; width: 26px; height: 31px; top: 404px; left: 802px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-19 { position: absolute; width: 26px; height: 31px; top: 396px; left: 758px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-18 { position: absolute; width: 26px; height: 31px; top: 414px; left: 718px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-17 { position: absolute; width: 26px; height: 31px; top: 404px; left: 679px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-16 { position: absolute; width: 26px; height: 31px; top: 421px; left: 638px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-15 { position: absolute; width: 26px; height: 31px; top: 410px; left: 594px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-14 { position: absolute; width: 26px; height: 31px; top: 430px; left: 553px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-13 { position: absolute; width: 26px; height: 31px; top: 423px; left: 509px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-12 { position: absolute; width: 26px; height: 31px; top: 443px; left: 468px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-11 { position: absolute; width: 26px; height: 31px; top: 434px; left: 424px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-10 { position: absolute; width: 26px; height: 31px; top: 458px; left: 383px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-5 { position: absolute; width: 26px; height: 32px; top: 477px; left: 188px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-6 { position: absolute; width: 26px; height: 31px; top: 484px; left: 228px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-7 { position: absolute; width: 26px; height: 31px; top: 459px; left: 261px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-9 { position: absolute; width: 26px; height: 31px; top: 445px; left: 343px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-8 { position: absolute; width: 26px; height: 31px; top: 470px; left: 307px; z-index: 0; color: rgb(255, 96, 0); }
.textbox-5-style1 { font-size: 24pt; }
#textbox-4 { position: absolute; width: 26px; height: 31px; top: 134px; left: 28px; z-index: 0; color: rgb(255, 96, 0); }
.textbox-3-style3 { font-size: 24pt; }
.textbox-3-style2 { font-size: 12pt; }
#textbox-3 { position: absolute; width: 180px; height: 21px; top: 139px; left: 43px; z-index: 0; font-size: 6pt; }
#image-52 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 194px; left: 331px; }
#image-50 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 190px; left: 289px; }
#image-49 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 441px; left: 192px; }
#image-47 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 142px; left: 820px; }
#image-46 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 143px; left: 767px; }
#image-45 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 164px; left: 732px; }
#image-44 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 153px; left: 687px; }
#image-43 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 166px; left: 645px; }
#image-42 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 152px; left: 604px; }
#image-41 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 169px; left: 563px; }
#image-40 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 153px; left: 527px; }
#image-39 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 172px; left: 488px; }
#image-38 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 160px; left: 448px; }
#image-37 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 177px; left: 410px; }
#image-36 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 174px; left: 366px; }
#image-34 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 345px; left: 799px; }
#image-33 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 364px; left: 765px; }
#image-32 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 356px; left: 721px; }
#image-31 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 372px; left: 685px; }
#image-30 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 363px; left: 642px; }
#image-29 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 379px; left: 601px; }
#image-28 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 369px; left: 556px; }
#image-27 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 388px; left: 516px; }
#image-26 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 379px; left: 476px; }
#image-25 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 401px; left: 432px; }
#image-24 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 390px; left: 388px; }
#image-23 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 412px; left: 348px; }
#image-22 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 400px; left: 305px; }
#image-21 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 427px; left: 269px; }
#image-20 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 414px; left: 228px; }
#image-18 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 435px; left: 151px; }
#image-17 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 299px; left: 653px; }
#image-16 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 282px; left: 618px; }
#image-15 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 293px; left: 583px; }
#image-14 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 276px; left: 555px; }
#image-13 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 284px; left: 522px; }
#image-12 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 259px; left: 495px; }
#image-11 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 269px; left: 455px; }
#image-10 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 252px; left: 422px; }
#image-9 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 256px; left: 388px; }
#image-8 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 247px; left: 353px; }
#image-7 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 251px; left: 318px; }
#image-6 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 236px; left: 291px; }
#image-5 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 248px; left: 250px; }
#image-4 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 231px; left: 222px; }
#image-3 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 242px; left: 184px; }
#image-2 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 226px; left: 153px; }
#image-1 { z-index: 0; position: absolute; width: 970px; height: 550px; top: 0px; left: 0px; }
.textbox-4-style2 { font-size: 12pt; }
.textbox-4-style1 { font-size: 24pt; }
.textbox-3-style1 { text-align: center; }
#button-1 { position: absolute; height: 59px; width: 130px; margin: 0px; top: 483px; left: 527px; z-index: 0; color: rgb(0, 0, 0); text-align: center; }
.textbox-1-style2 { font-size: 16pt; }
.textbox-1-style1 { font-size: 12pt; }
#body-container { width: 970px; color: rgb(34, 61, 124); font-family: Verdana,Geneva,sans-serif; font-size: 16pt; margin-left: auto; margin-right: auto; }
a:visited { color: rgb(128, 0, 128); }
body {  }
#textbox-1 { z-index: 0; position: absolute; width: 234px; height: 57px; top: 44px; left: 345px; font-size: 13pt; }
#image-53 { position: absolute; width: 70px; height: 58px; top: 42px; left: 28px; z-index: 0; }
#textbox-2 { position: absolute; width: 174px; height: 45px; top: 56px; left: 96px; z-index: 0; }
.textbox-2-style1 { font-size: 12pt; }
