#textbox-5 { z-index: 0; position: absolute; width: 198px; height: 57px; top: 19px; left: 745px; font-size: 13pt; }
#button-1 { border: 0px none ; margin: 0px; padding: 0px; position: absolute; height: 40px; width: 130px; background-color: rgb(238, 238, 238); top: 490px; left: 795px; z-index: 0; }
.textbox-3-style2 { font-size: 12pt; }
.textbox-3-style1 { text-align: center; }
#textbox-3 { position: absolute; width: 180px; height: 15px; top: 142px; left: 386px; z-index: 0; font-size: 6pt; }
.textbox-4-style1 { font-size: 24pt; }
#textbox-4 { position: absolute; width: 26px; height: 31px; top: 151px; left: 365px; z-index: 0; color: rgb(255, 96, 0); }
.textbox-2-style1 { font-size: 12pt; }
#textbox-2 { position: absolute; width: 174px; height: 45px; top: 100px; left: 407px; z-index: 0; }
#image-98 { position: absolute; width: 70px; height: 58px; top: 94px; left: 330px; z-index: 0; }
.textbox-1-style1 { font-size: 12pt; }
#textbox-1 { z-index: 0; position: absolute; width: 234px; height: 57px; top: 115px; left: 38px; font-size: 13pt; }
#image-97 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 199px; left: 796px; }
#image-96 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 217px; left: 746px; }
#image-95 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 209px; left: 698px; }
#image-94 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 225px; left: 651px; }
#image-93 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 210px; left: 624px; }
#image-92 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 223px; left: 569px; }
#image-91 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 206px; left: 532px; }
#image-90 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 229px; left: 499px; }
#image-89 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 215px; left: 449px; }
#image-88 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 236px; left: 411px; }
#image-87 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 225px; left: 377px; }
#image-86 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 242px; left: 343px; }
#image-85 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 236px; left: 296px; }
#image-84 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 263px; left: 257px; }
#image-83 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 252px; left: 230px; }
#image-82 { z-index: 0; position: absolute; width: 41px; height: 45px; top: 272px; left: 140px; }
#image-81 { z-index: 0; position: absolute; width: 41px; height: 45px; top: 339px; left: 742px; }
#image-80 { z-index: 0; position: absolute; width: 41px; height: 45px; top: 291px; left: 175px; }
#image-79 { z-index: 0; position: absolute; width: 41px; height: 45px; top: 291px; left: 223px; }
#image-78 { z-index: 0; position: absolute; width: 41px; height: 45px; top: 312px; left: 240px; }
#image-77 { z-index: 0; position: absolute; width: 41px; height: 45px; top: 296px; left: 306px; }
#image-76 { z-index: 0; position: absolute; width: 41px; height: 45px; top: 283px; left: 346px; }
#image-75 { z-index: 0; position: absolute; width: 41px; height: 45px; top: 304px; left: 379px; }
#image-74 { z-index: 0; position: absolute; width: 41px; height: 45px; top: 293px; left: 413px; }
#image-73 { z-index: 0; position: absolute; width: 41px; height: 45px; top: 309px; left: 445px; }
#image-72 { z-index: 0; position: absolute; width: 41px; height: 45px; top: 302px; left: 473px; }
#image-71 { z-index: 0; position: absolute; width: 41px; height: 45px; top: 327px; left: 509px; }
#image-70 { z-index: 0; position: absolute; width: 41px; height: 45px; top: 316px; left: 542px; }
#image-69 { z-index: 0; position: absolute; width: 41px; height: 45px; top: 337px; left: 577px; }
#image-68 { z-index: 0; position: absolute; width: 41px; height: 45px; top: 319px; left: 619px; }
#image-67 { z-index: 0; position: absolute; width: 41px; height: 45px; top: 340px; left: 653px; }
#image-66 { z-index: 0; position: absolute; width: 41px; height: 45px; top: 349px; left: 716px; }
#image-64 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 381px; left: 731px; }
a:visited { color: rgb(128, 0, 128); }
#image-1 { position: absolute; width: 970px; height: 550px; top: 0px; left: 0px; z-index: 0; }
#image-47 { z-index: 0; position: absolute; width: 41px; height: 45px; top: 321px; left: 690px; }
#image-48 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 470px; left: 79px; }
#image-49 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 475px; left: 119px; }
#image-50 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 451px; left: 158px; }
#image-51 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 454px; left: 201px; }
#image-52 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 427px; left: 231px; }
#image-53 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 439px; left: 266px; }
#image-54 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 422px; left: 316px; }
#image-55 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 433px; left: 352px; }
#image-56 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 412px; left: 400px; }
#image-57 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 419px; left: 443px; }
#image-58 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 400px; left: 485px; }
#image-59 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 411px; left: 529px; }
#image-60 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 391px; left: 566px; }
#image-61 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 406px; left: 610px; }
#image-62 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 388px; left: 651px; }
#image-63 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 401px; left: 693px; }
#image-65 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 387px; left: 775px; }
#body-container {  width: 970px; margin-left: auto; margin-right: auto; color: rgb(34, 61, 124); font-size: 16pt; font-family: Verdana,Geneva,sans-serif; }
body {  }
