#image-1 { z-index: 0; position: absolute; width: 27px; height: 26px; top: 317px; left: 415px; }
.choiceInteraction-question1_able-style1 { color: rgb(255, 255, 255); }
body {  }
a:visited { color: rgb(128, 0, 128); }
.textbox-1-style1 { text-align: center; }
.textbox-1-style2 { font-size: 16pt; color: rgb(255, 255, 255); }
#body-container { width: 970px; color: rgb(34, 61, 124); font-family: Verdana,Geneva,sans-serif; font-size: 16pt; margin-left: auto; margin-right: auto; }
#textbox-2 { z-index: 0; position: absolute; width: 944px; height: 34px; top: 94px; left: 12px; }
.textbox-2-style1 { text-align: center; }
.textbox-2-style2 { font-size: 12pt; }
#textbox-5 { border: 2px solid rgb(182, 181, 179); padding: 10px; position: absolute; width: 754px; height: 95px; top: 141px; left: 104px; z-index: 0; -moz-border-radius-topleft: 15px; -webkit-border-radius-topleft: 15px; border-radius-topleft: 15px; -moz-border-radius-topright: 15px; -webkit-border-radius-topright: 15px; border-radius-topright: 15px; -moz-border-radius-bottomright: 15px; -webkit-border-radius-bottomright: 15px; border-radius-bottomright: 15px; -moz-border-radius-bottomleft: 15px; -webkit-border-radius-bottomleft: 15px; border-radius-bottomleft: 15px; background-color: rgb(231, 243, 253); behavior: url(/PIE.htc); }
.textbox-5-style1 { text-align: center; }
.textbox-5-style2 { font-size: 16pt; }
#textbox-6 { position: absolute; width: 447px; height: 38px; top: 250px; left: 264px; z-index: 0; }
.textbox-6-style1 { text-align: center; }
.textbox-6-style2 { font-size: 12pt; }
.textbox-6-style3 { color: rgb(255, 0, 0); font-weight: bold; }
#button-2 { margin: 0px; position: absolute; height: 59px; width: 130px; top: 442px; left: 32px; z-index: 0; color: rgb(0, 0, 0); text-align: center; }
#button-1 { margin: 0px; position: absolute; height: 59px; width: 130px; top: 459px; left: 813px; z-index: 0; color: rgb(0, 0, 0); text-align: center; }
#choiceInteraction-question1_able { border: 2px solid rgb(182, 181, 179); padding: 10px; z-index: 0; position: absolute; width: 451px; height: 210px; top: 303px; left: 265px; font-size: 13pt; }
#textbox-7 { z-index: 0; position: absolute; width: 273px; height: 50px; top: 60px; left: 15px; }
.textbox-7-style1 { font-size: 16pt; }
