#image-1 { position: absolute; width: 1119px; height: 766px; top: 0px; left: 0px; }
a:visited { color: rgb(128, 0, 128); }
#body-container {  width: 970px; margin-left: auto; margin-right: auto; color: rgb(34, 61, 124); font-size: 16pt; font-family: Verdana,Geneva,sans-serif; }
body {  }
