#textbox-52 { position: absolute; width: 190px; height: 22px; top: 505px; left: 331px; z-index: 0; font-size: 12pt; }
#textbox-51 { position: absolute; width: 26px; height: 31px; top: 359px; left: 640px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-50 { position: absolute; width: 26px; height: 31px; top: 343px; left: 610px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-49 { position: absolute; width: 26px; height: 31px; top: 353px; left: 569px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-48 { position: absolute; width: 26px; height: 31px; top: 337px; left: 545px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-47 { position: absolute; width: 26px; height: 31px; top: 345px; left: 506px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-46 { position: absolute; width: 26px; height: 31px; top: 324px; left: 483px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-45 { position: absolute; width: 26px; height: 31px; top: 333px; left: 442px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-44 { position: absolute; width: 26px; height: 31px; top: 316px; left: 414px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-43 { position: absolute; width: 26px; height: 31px; top: 323px; left: 376px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-42 { position: absolute; width: 26px; height: 31px; top: 305px; left: 346px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-41 { position: absolute; width: 26px; height: 31px; top: 316px; left: 305px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-40 { position: absolute; width: 26px; height: 31px; top: 294px; left: 280px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-39 { position: absolute; width: 26px; height: 31px; top: 309px; left: 239px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-38 { position: absolute; width: 26px; height: 31px; top: 290px; left: 214px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-37 { position: absolute; width: 26px; height: 31px; top: 304px; left: 188px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-36 { position: absolute; width: 26px; height: 31px; top: 283px; left: 136px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-35 { position: absolute; width: 26px; height: 31px; top: 232px; left: 377px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-34 { position: absolute; width: 26px; height: 31px; top: 230px; left: 330px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-33 { position: absolute; width: 26px; height: 31px; top: 217px; left: 402px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-32 { position: absolute; width: 26px; height: 31px; top: 222px; left: 447px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-31 { position: absolute; width: 26px; height: 31px; top: 202px; left: 486px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-30 { position: absolute; width: 26px; height: 31px; top: 215px; left: 523px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-29 { position: absolute; width: 26px; height: 31px; top: 194px; left: 561px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-28 { position: absolute; width: 26px; height: 31px; top: 211px; left: 597px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-27 { position: absolute; width: 26px; height: 31px; top: 196px; left: 638px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-26 { position: absolute; width: 26px; height: 31px; top: 205px; left: 683px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-25 { position: absolute; width: 26px; height: 31px; top: 207px; left: 768px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-24 { position: absolute; width: 26px; height: 31px; top: 195px; left: 724px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-23 { position: absolute; width: 26px; height: 31px; top: 187px; left: 806px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-22 { position: absolute; width: 26px; height: 31px; top: 186px; left: 854px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-21 { position: absolute; width: 26px; height: 31px; top: 384px; left: 837px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-20 { position: absolute; width: 26px; height: 31px; top: 404px; left: 802px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-19 { position: absolute; width: 26px; height: 31px; top: 396px; left: 758px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-18 { position: absolute; width: 26px; height: 31px; top: 414px; left: 718px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-17 { position: absolute; width: 26px; height: 31px; top: 404px; left: 679px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-16 { position: absolute; width: 26px; height: 31px; top: 421px; left: 638px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-15 { position: absolute; width: 26px; height: 31px; top: 410px; left: 594px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-14 { position: absolute; width: 26px; height: 31px; top: 430px; left: 553px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-13 { position: absolute; width: 26px; height: 31px; top: 423px; left: 509px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-12 { position: absolute; width: 26px; height: 31px; top: 443px; left: 468px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-11 { position: absolute; width: 26px; height: 31px; top: 434px; left: 424px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-10 { position: absolute; width: 26px; height: 31px; top: 458px; left: 383px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-5 { position: absolute; width: 26px; height: 32px; top: 477px; left: 188px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-6 { position: absolute; width: 26px; height: 31px; top: 484px; left: 228px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-7 { position: absolute; width: 26px; height: 31px; top: 459px; left: 261px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-9 { position: absolute; width: 26px; height: 31px; top: 445px; left: 343px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-8 { position: absolute; width: 26px; height: 31px; top: 470px; left: 307px; z-index: 0; color: rgb(255, 96, 0); }
.textbox-5-style1 { font-size: 24pt; }
#textbox-4 { position: absolute; width: 26px; height: 31px; top: 101px; left: 35px; z-index: 0; color: rgb(255, 96, 0); }
.textbox-3-style3 { font-size: 24pt; }
.textbox-3-style2 { font-size: 12pt; }
#textbox-3 { position: absolute; width: 180px; height: 21px; top: 106px; left: 50px; z-index: 0; font-size: 6pt; }
#image-52 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 194px; left: 331px; }
#image-50 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 190px; left: 289px; }
#image-47 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 142px; left: 820px; }
#image-46 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 143px; left: 767px; }
#image-45 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 164px; left: 732px; }
#image-44 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 153px; left: 687px; }
#image-43 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 166px; left: 645px; }
#image-42 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 152px; left: 604px; }
#image-41 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 169px; left: 563px; }
#image-40 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 153px; left: 527px; }
#image-39 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 172px; left: 488px; }
#image-38 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 160px; left: 448px; }
#image-37 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 177px; left: 410px; }
#image-36 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 174px; left: 366px; }
#image-1 { z-index: 0; position: absolute; width: 970px; height: 550px; top: 0px; left: 0px; }
.textbox-4-style2 { font-size: 12pt; }
.textbox-4-style1 { font-size: 24pt; }
.textbox-3-style1 { text-align: center; }
#button-1 { position: absolute; height: 59px; width: 130px; margin: 0px; top: 483px; left: 527px; z-index: 0; color: rgb(0, 0, 0); text-align: center; }
.textbox-1-style2 { font-size: 16pt; }
.textbox-1-style1 { font-size: 12pt; }
#body-container { width: 970px; color: rgb(34, 61, 124); font-family: Verdana,Geneva,sans-serif; font-size: 16pt; margin-left: auto; margin-right: auto; }
a:visited { color: rgb(128, 0, 128); }
body {  }
#textbox-1 { z-index: 0; position: absolute; width: 234px; height: 57px; top: 46px; left: 353px; font-size: 13pt; }
#image-53 { position: absolute; width: 70px; height: 58px; top: 41px; left: 43px; z-index: 0; }
#textbox-2 { position: absolute; width: 174px; height: 45px; top: 55px; left: 111px; z-index: 0; }
.textbox-2-style1 { font-size: 12pt; }
