#textbox-55 { position: absolute; width: 197px; height: 22px; top: 49px; left: 333px; z-index: 0; font-size: 12pt; }
#textbox-53 { position: absolute; width: 94px; height: 22px; top: 48px; left: 368px; z-index: 0; font-size: 12pt; }
#textbox-52 { position: absolute; width: 203px; height: 22px; top: 49px; left: 322px; z-index: 0; font-size: 12pt; }
.textbox-22-style3 { font-size: 12pt; }
.textbox-22-style2 { font-size: 24pt; }
.textbox-22-style1 { text-align: left; }
#textbox-22 { position: absolute; width: 190px; height: 22px; top: 505px; left: 331px; z-index: 0; font-size: 12pt; }
#button-1 { margin: 0px; position: absolute; height: 59px; width: 130px; top: 483px; left: 527px; z-index: 0; color: rgb(0, 0, 0); text-align: center; }
.textbox-1-style1 { font-size: 12pt; }
#textbox-1 { z-index: 0; position: absolute; width: 234px; height: 57px; top: 98px; left: 718px; font-size: 13pt; }
#textbox-4 { position: absolute; width: 26px; height: 31px; top: 190px; left: 57px; z-index: 0; color: rgb(255, 96, 0); }
.textbox-3-style2 { font-size: 12pt; }
.textbox-3-style1 { text-align: center; }
#textbox-3 { position: absolute; width: 180px; height: 21px; top: 195px; left: 72px; z-index: 0; font-size: 6pt; }
.textbox-2-style1 { font-size: 12pt; }
#textbox-2 { position: absolute; width: 174px; height: 45px; top: 143px; left: 131px; z-index: 0; }
#image-53 { position: absolute; width: 70px; height: 58px; top: 129px; left: 63px; z-index: 0; }
#textbox-21 { position: absolute; width: 26px; height: 31px; top: 384px; left: 837px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-20 { position: absolute; width: 26px; height: 31px; top: 404px; left: 802px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-19 { position: absolute; width: 26px; height: 31px; top: 396px; left: 758px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-18 { position: absolute; width: 26px; height: 31px; top: 414px; left: 718px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-17 { position: absolute; width: 26px; height: 31px; top: 404px; left: 679px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-16 { position: absolute; width: 26px; height: 31px; top: 421px; left: 638px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-15 { position: absolute; width: 26px; height: 31px; top: 410px; left: 594px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-14 { position: absolute; width: 26px; height: 31px; top: 430px; left: 553px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-13 { position: absolute; width: 26px; height: 31px; top: 423px; left: 509px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-12 { position: absolute; width: 26px; height: 31px; top: 443px; left: 468px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-11 { position: absolute; width: 26px; height: 31px; top: 434px; left: 424px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-10 { position: absolute; width: 26px; height: 31px; top: 458px; left: 383px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-9 { position: absolute; width: 26px; height: 31px; top: 445px; left: 343px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-8 { position: absolute; width: 26px; height: 31px; top: 470px; left: 307px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-7 { position: absolute; width: 26px; height: 31px; top: 459px; left: 261px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-6 { position: absolute; width: 26px; height: 31px; top: 484px; left: 228px; z-index: 0; color: rgb(255, 96, 0); }
.textbox-4-style1 { font-size: 24pt; }
#textbox-5 { position: absolute; width: 26px; height: 32px; top: 477px; left: 188px; z-index: 0; color: rgb(255, 96, 0); }
#image-33 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 364px; left: 765px; }
#image-34 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 345px; left: 799px; }
#image-32 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 356px; left: 721px; }
#image-31 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 372px; left: 685px; }
#image-30 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 363px; left: 642px; }
#image-29 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 379px; left: 601px; }
#image-27 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 388px; left: 516px; }
#image-28 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 369px; left: 556px; }
#image-26 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 379px; left: 476px; }
#image-25 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 401px; left: 432px; }
#image-24 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 390px; left: 388px; }
#image-23 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 412px; left: 348px; }
#image-22 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 400px; left: 305px; }
#image-20 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 414px; left: 228px; }
#image-21 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 427px; left: 269px; }
#image-18 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 435px; left: 151px; }
#image-49 { z-index: 0; position: absolute; width: 70px; height: 58px; top: 441px; left: 192px; }
#image-1 { z-index: 0; position: absolute; width: 970px; height: 550px; top: 0px; left: 0px; }
a:visited { color: rgb(128, 0, 128); }
#body-container { width: 970px; margin-left: auto; margin-right: auto; color: rgb(34, 61, 124); font-size: 16pt; font-family: Verdana,Geneva,sans-serif; }
body {  }
