body {  }
#body-container { width: 970px; margin-left: auto; margin-right: auto; color: rgb(34, 61, 124); font-size: 16pt; font-family: Verdana,Geneva,sans-serif; }
a:visited { color: rgb(128, 0, 128); }
#image-1 { z-index: 0; position: absolute; width: 970px; height: 550px; top: 0px; left: 0px; }
#image-2 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 226px; left: 153px; }
#image-3 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 242px; left: 184px; }
#image-4 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 231px; left: 222px; }
#image-5 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 248px; left: 250px; }
#image-6 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 236px; left: 291px; }
#image-7 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 251px; left: 318px; }
#image-8 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 247px; left: 353px; }
#image-9 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 256px; left: 388px; }
#image-10 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 252px; left: 422px; }
#image-11 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 269px; left: 455px; }
#image-12 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 259px; left: 495px; }
#image-13 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 284px; left: 522px; }
#image-14 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 276px; left: 555px; }
#image-15 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 293px; left: 583px; }
#image-16 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 282px; left: 618px; }
#image-17 { z-index: 0; position: absolute; width: 34px; height: 47px; top: 299px; left: 653px; }
#textbox-51 { position: absolute; width: 26px; height: 31px; top: 358px; left: 645px; z-index: 0; color: rgb(255, 96, 0); }
.textbox-4-style1 { font-size: 24pt; }
#textbox-50 { position: absolute; width: 26px; height: 31px; top: 342px; left: 611px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-49 { position: absolute; width: 26px; height: 31px; top: 350px; left: 576px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-48 { position: absolute; width: 26px; height: 31px; top: 334px; left: 545px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-47 { position: absolute; width: 26px; height: 31px; top: 343px; left: 509px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-46 { position: absolute; width: 26px; height: 31px; top: 321px; left: 485px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-45 { position: absolute; width: 26px; height: 31px; top: 329px; left: 446px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-44 { position: absolute; width: 26px; height: 31px; top: 314px; left: 415px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-43 { position: absolute; width: 26px; height: 31px; top: 320px; left: 377px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-42 { position: absolute; width: 26px; height: 31px; top: 301px; left: 349px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-41 { position: absolute; width: 26px; height: 31px; top: 314px; left: 311px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-40 { position: absolute; width: 26px; height: 31px; top: 293px; left: 284px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-39 { position: absolute; width: 26px; height: 31px; top: 306px; left: 245px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-38 { position: absolute; width: 26px; height: 31px; top: 288px; left: 217px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-37 { position: absolute; width: 26px; height: 31px; top: 301px; left: 192px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-36 { position: absolute; width: 26px; height: 31px; top: 279px; left: 138px; z-index: 0; color: rgb(255, 96, 0); }
#image-53 { position: absolute; width: 70px; height: 58px; top: 39px; left: 44px; z-index: 0; }
#textbox-2 { position: absolute; width: 174px; height: 45px; top: 53px; left: 112px; z-index: 0; }
.textbox-2-style1 { font-size: 12pt; }
#textbox-3 { position: absolute; width: 180px; height: 21px; top: 105px; left: 53px; z-index: 0; font-size: 6pt; }
.textbox-3-style1 { text-align: center; }
.textbox-3-style2 { font-size: 12pt; }
#textbox-4 { position: absolute; width: 26px; height: 31px; top: 100px; left: 38px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-1 { z-index: 0; position: absolute; width: 234px; height: 57px; top: 50px; left: 731px; font-size: 13pt; }
.textbox-1-style1 { font-size: 12pt; }
#textbox-5 { position: absolute; width: 26px; height: 32px; top: 477px; left: 188px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-6 { position: absolute; width: 26px; height: 31px; top: 484px; left: 228px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-7 { position: absolute; width: 26px; height: 31px; top: 459px; left: 261px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-8 { position: absolute; width: 26px; height: 31px; top: 470px; left: 307px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-9 { position: absolute; width: 26px; height: 31px; top: 445px; left: 343px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-10 { position: absolute; width: 26px; height: 31px; top: 458px; left: 383px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-11 { position: absolute; width: 26px; height: 31px; top: 434px; left: 424px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-12 { position: absolute; width: 26px; height: 31px; top: 443px; left: 468px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-13 { position: absolute; width: 26px; height: 31px; top: 423px; left: 509px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-14 { position: absolute; width: 26px; height: 31px; top: 430px; left: 553px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-15 { position: absolute; width: 26px; height: 31px; top: 410px; left: 594px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-16 { position: absolute; width: 26px; height: 31px; top: 421px; left: 638px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-17 { position: absolute; width: 26px; height: 31px; top: 404px; left: 679px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-18 { position: absolute; width: 26px; height: 31px; top: 414px; left: 718px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-19 { position: absolute; width: 26px; height: 31px; top: 396px; left: 758px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-20 { position: absolute; width: 26px; height: 31px; top: 404px; left: 802px; z-index: 0; color: rgb(255, 96, 0); }
#textbox-21 { position: absolute; width: 26px; height: 31px; top: 384px; left: 837px; z-index: 0; color: rgb(255, 96, 0); }
#button-1 { margin: 0px; position: absolute; height: 59px; width: 130px; top: 483px; left: 527px; z-index: 0; color: rgb(0, 0, 0); text-align: center; }
#textbox-22 { position: absolute; width: 190px; height: 22px; top: 505px; left: 331px; z-index: 0; font-size: 12pt; }
#textbox-52 { position: absolute; width: 228px; height: 22px; top: 61px; left: 401px; z-index: 0; font-size: 12pt; }
#textbox-53 { position: absolute; width: 94px; height: 22px; top: 60px; left: 447px; z-index: 0; font-size: 12pt; }
#textbox-55 { position: absolute; width: 197px; height: 22px; top: 61px; left: 402px; z-index: 0; font-size: 12pt; }
