.textbox-96-style1 { font-size: 12pt; }
.textbox-95-style1 { font-size: 12pt; }
#textbox-95 { position: static; width: 489px; height: 26px; top: 591px; left: 28px; z-index: 0; }
#button-6 { margin: 0px; position: absolute; height: 50px; width: 100px; top: 427px; left: 551px; z-index: 0; color: rgb(0, 0, 0); text-align: center; }
.textbox-86-style2 { font-size: 16pt; color: rgb(255, 255, 255); }
.textbox-86-style1 { text-align: center; }
#textbox-85 { position: static; width: 491px; height: 26px; top: 1913px; left: 164px; z-index: 0; }
#textbox-84 { position: static; width: 491px; height: 26px; top: 1889px; left: 90px; z-index: 0; }
#textbox-83 { position: static; width: 491px; height: 26px; top: 1852px; left: 103px; z-index: 0; }
#textbox-82 { position: static; width: 491px; height: 26px; top: 1839px; left: 92px; z-index: 0; }
#textbox-81 { position: static; width: 491px; height: 26px; top: 1792px; left: 133px; z-index: 0; }
#textbox-80 { position: static; width: 491px; height: 26px; top: 1776px; left: 70px; z-index: 0; }
#textbox-79 { position: static; width: 491px; height: 26px; top: 1775px; left: 117px; z-index: 0; }
#textbox-78 { position: static; width: 491px; height: 26px; top: 1672px; left: 80px; z-index: 0; }
.textbox-77-style1 { font-size: 12pt; }
#textbox-77 { position: static; width: 491px; height: 26px; top: 1552px; left: 202px; z-index: 0; }
.textbox-76-style1 { font-size: 12pt; }
#textbox-76 { position: static; width: 491px; height: 26px; top: 1564px; left: 22px; z-index: 0; }
.textbox-75-style1 { font-size: 12pt; }
#textbox-75 { position: static; width: 491px; height: 26px; top: 1577px; left: 199px; z-index: 0; }
.textbox-74-style1 { font-size: 12pt; }
#textbox-74 { position: static; width: 491px; height: 26px; top: 1562px; left: 82px; z-index: 0; }
.textbox-73-style1 { font-size: 12pt; }
#textbox-73 { position: static; width: 491px; height: 26px; top: 1558px; left: 38px; z-index: 0; }
.textbox-72-style1 { font-size: 12pt; }
#textbox-72 { position: static; width: 491px; height: 26px; top: 1543px; left: 167px; z-index: 0; }
.textbox-71-style1 { font-size: 12pt; }
#textbox-71 { position: static; width: 491px; height: 26px; top: 1480px; left: 85px; z-index: 0; }
.textbox-70-style1 { font-size: 12pt; }
#textbox-70 { position: static; width: 491px; height: 26px; top: 1502px; left: 137px; z-index: 0; }
.textbox-13-style1 { font-size: 12pt; }
.textbox-12-style1 { font-size: 12pt; }
.textbox-11-style1 { font-size: 12pt; }
.textbox-10-style1 { font-size: 12pt; }
#textbox-13 { position: static; width: 491px; height: 26px; top: 410px; left: 80px; z-index: 0; }
#textbox-12 { position: static; width: 491px; height: 26px; top: 405px; left: 78px; z-index: 0; }
#textbox-11 { position: static; width: 491px; height: 26px; top: 371px; left: 132px; z-index: 0; }
#textbox-10 { position: static; width: 491px; height: 26px; top: 358px; left: 156px; z-index: 0; }
.textbox-6-style8 { font-size: 12pt; }
.textbox-6-style7 { font-size: 12pt; }
.textbox-6-style6 { font-size: 12pt; }
.textbox-6-style5 { font-size: 12pt; }
.textbox-6-style4 { font-size: 12pt; }
.textbox-6-style3 { font-size: 12pt; }
.textbox-6-style2 { font-size: 12pt; }
.textbox-6-style1 { font-size: 10pt; }
#button-5 { margin: 0px; position: absolute; height: 50px; width: 100px; top: 492px; left: 848px; z-index: 0; color: rgb(0, 0, 0); text-align: center; }
.textbox-4-style1 { font-size: 12pt; }
#textbox-4 { position: absolute; width: 200px; height: 29px; top: 261px; left: 668px; z-index: 0; }
#button-1 { margin: 0px; position: absolute; height: 50px; width: 100px; top: 252px; left: 551px; z-index: 0; color: rgb(0, 0, 0); text-align: center; font-size: 14pt; }
#button-4 { margin: 0px; position: absolute; height: 50px; width: 100px; top: 177px; left: 792px; z-index: 0; color: rgb(0, 0, 0); text-align: center; font-size: 14pt; }
.textbox-3-style6 { font-size: 10pt; }
.textbox-3-style5 { font-size: 10pt; }
.textbox-3-style4 { text-align: left; }
.textbox-3-style3 { font-size: 10pt; }
.textbox-3-style2 { font-size: 12pt; }
.textbox-3-style1 { text-align: center; }
#textbox-3 { border: 0px solid rgb(255, 127, 0); padding: 10px; position: absolute; width: 372px; height: 51px; top: 121px; left: 549px; z-index: 0; -moz-border-radius-topleft: 15px; -webkit-border-radius-topleft: 15px; border-radius-topleft: 15px; -moz-border-radius-topright: 15px; -webkit-border-radius-topright: 15px; border-radius-topright: 15px; -moz-border-radius-bottomright: 15px; -webkit-border-radius-bottomright: 15px; border-radius-bottomright: 15px; -moz-border-radius-bottomleft: 15px; -webkit-border-radius-bottomleft: 15px; border-radius-bottomleft: 15px; font-size: 12pt; behavior: url(/PIE.htc); }
.textbox-2-style8 { font-size: 12pt; }
.textbox-2-style7 { font-size: 12pt; }
.textbox-2-style6 { font-size: 12pt; }
.textbox-2-style5 { font-size: 12pt; }
.textbox-2-style4 { font-size: 12pt; }
.textbox-2-style3 { font-size: 12pt; }
.textbox-2-style2 { font-size: 12pt; }
.textbox-2-style1 { font-size: 12pt; text-decoration: underline; }
#textbox-2 { border: 0px solid rgb(255, 127, 0); padding: 10px; position: static; width: 491px; height: 35px; top: 0px; left: 0px; z-index: 0; -moz-border-radius-topleft: 15px; -webkit-border-radius-topleft: 15px; border-radius-topleft: 15px; -moz-border-radius-topright: 15px; -webkit-border-radius-topright: 15px; border-radius-topright: 15px; -moz-border-radius-bottomright: 15px; -webkit-border-radius-bottomright: 15px; border-radius-bottomright: 15px; -moz-border-radius-bottomleft: 15px; -webkit-border-radius-bottomleft: 15px; border-radius-bottomleft: 15px; font-size: 12pt; behavior: url(/PIE.htc); }
.textbox-1-style2 { color: rgb(255, 255, 255); }
.textbox-1-style1 { text-align: center; }
.textbox-5-style1 { font-size: 12pt; }
#button-3 { margin: 0px; position: absolute; height: 50px; width: 100px; top: 366px; left: 551px; z-index: 0; color: rgb(0, 0, 0); text-align: center; font-size: 14pt; }
#button-2 { margin: 0px; position: absolute; height: 50px; width: 100px; top: 308px; left: 551px; z-index: 0; color: rgb(0, 0, 0); text-align: center; font-size: 14pt; }
#body-container { width: 970px; color: rgb(34, 61, 124); font-family: Verdana,Geneva,sans-serif; font-size: 16pt; margin-left: auto; margin-right: auto; }
a:visited { color: rgb(128, 0, 128); }
body { background-color: rgb(255, 255, 255); }
.textbox-7-style1 { font-size: 10pt; color: rgb(255, 0, 0); font-weight: bold; }
.textbox-8-style1 { text-align: center; }
#textbox-5 { position: absolute; width: 246px; height: 29px; top: 369px; left: 668px; z-index: 0; }
#textbox-8 { position: absolute; width: 208px; height: 33px; top: 501px; left: 631px; z-index: 0; }
.textbox-8-style2 { font-size: 12pt; }
#container-1 { position: absolute; width: 489px; top: 47px; z-index: 0; left: 12px; }
#textbox-14 { position: static; width: 491px; height: 26px; top: 0px; left: 0px; z-index: 0; }
.textbox-14-style1 { font-size: 12pt; }
#textbox-15 { position: static; width: 491px; height: 26px; top: 235px; left: 16px; z-index: 0; }
.textbox-15-style1 { font-size: 12pt; }
#textbox-16 { position: static; width: 491px; height: 26px; top: 296px; left: 25px; z-index: 0; }
.textbox-16-style1 { font-size: 12pt; }
#textbox-17 { position: static; width: 491px; height: 26px; top: 305px; left: 25px; z-index: 0; }
.textbox-17-style1 { font-size: 12pt; }
#textbox-18 { position: static; width: 491px; height: 26px; top: 340px; left: 36px; z-index: 0; }
.textbox-18-style1 { font-size: 12pt; }
#textbox-19 { position: static; width: 491px; height: 26px; top: 358px; left: 28px; z-index: 0; }
.textbox-19-style1 { font-size: 12pt; }
#textbox-20 { position: static; width: 491px; height: 26px; top: 374px; left: 13px; z-index: 0; }
.textbox-20-style1 { font-size: 12pt; }
#textbox-21 { position: static; width: 491px; height: 26px; top: 389px; left: 14px; z-index: 0; }
.textbox-21-style1 { font-size: 12pt; }
#textbox-22 { position: static; width: 491px; height: 26px; top: 424px; left: 26px; z-index: 0; }
.textbox-22-style1 { font-size: 12pt; }
#textbox-23 { position: static; width: 491px; height: 26px; top: 460px; left: 27px; z-index: 0; }
.textbox-23-style1 { font-size: 12pt; }
#textbox-24 { position: static; width: 491px; height: 26px; top: 457px; left: 17px; z-index: 0; }
.textbox-24-style1 { font-size: 12pt; }
#textbox-25 { position: static; width: 491px; height: 26px; top: 515px; left: 40px; z-index: 0; }
.textbox-25-style1 { font-size: 12pt; }
#textbox-26 { position: static; width: 491px; height: 26px; top: 503px; left: 35px; z-index: 0; }
.textbox-26-style1 { font-size: 12pt; }
#textbox-27 { position: static; width: 491px; height: 26px; top: 567px; left: 37px; z-index: 0; }
.textbox-27-style1 { font-size: 12pt; }
#textbox-28 { position: static; width: 491px; height: 26px; top: 551px; left: 48px; z-index: 0; }
.textbox-28-style1 { font-size: 12pt; }
#textbox-29 { position: static; width: 491px; height: 26px; top: 593px; left: 1px; z-index: 0; }
.textbox-29-style1 { font-size: 12pt; }
#textbox-30 { position: static; width: 491px; height: 26px; top: 624px; left: 34px; z-index: 0; }
.textbox-30-style1 { font-size: 12pt; }
#textbox-31 { position: static; width: 491px; height: 26px; top: 641px; left: 43px; z-index: 0; }
.textbox-31-style1 { font-size: 12pt; }
#textbox-32 { position: static; width: 491px; height: 26px; top: 671px; left: 25px; z-index: 0; }
.textbox-32-style1 { font-size: 12pt; }
#textbox-33 { position: static; width: 491px; height: 26px; top: 678px; left: 42px; z-index: 0; }
.textbox-33-style1 { font-size: 12pt; }
#textbox-34 { position: static; width: 491px; height: 26px; top: 694px; left: 78px; z-index: 0; }
.textbox-34-style1 { font-size: 12pt; }
#textbox-35 { position: static; width: 491px; height: 26px; top: 749px; left: 44px; z-index: 0; }
.textbox-35-style1 { font-size: 12pt; }
#textbox-36 { position: static; width: 491px; height: 26px; top: 725px; left: 78px; z-index: 0; }
.textbox-36-style1 { font-size: 12pt; }
#textbox-37 { position: static; width: 491px; height: 26px; top: 666px; left: 114px; z-index: 0; }
.textbox-37-style1 { font-size: 12pt; }
#textbox-38 { position: static; width: 491px; height: 26px; top: 730px; left: -18px; z-index: 0; }
.textbox-38-style1 { font-size: 12pt; }
#textbox-39 { position: static; width: 491px; height: 26px; top: 692px; left: 163px; z-index: 0; }
.textbox-39-style1 { font-size: 12pt; }
#textbox-40 { position: static; width: 491px; height: 26px; top: 686px; left: 120px; z-index: 0; }
.textbox-40-style1 { font-size: 12pt; }
#textbox-41 { position: static; width: 491px; height: 26px; top: 711px; left: 121px; z-index: 0; }
.textbox-41-style1 { font-size: 12pt; }
#textbox-42 { position: static; width: 491px; height: 26px; top: 727px; left: 124px; z-index: 0; }
.textbox-42-style1 { font-size: 12pt; }
#textbox-43 { position: static; width: 491px; height: 26px; top: 786px; left: 43px; z-index: 0; }
.textbox-43-style1 { font-size: 12pt; }
#textbox-44 { position: static; width: 491px; height: 26px; top: 848px; left: 100px; z-index: 0; }
.textbox-44-style1 { font-size: 12pt; }
#textbox-45 { position: static; width: 491px; height: 26px; top: 818px; left: 117px; z-index: 0; }
.textbox-45-style1 { font-size: 12pt; }
#textbox-46 { position: static; width: 491px; height: 26px; top: 835px; left: 118px; z-index: 0; }
.textbox-46-style1 { font-size: 12pt; }
#textbox-47 { position: static; width: 491px; height: 26px; top: 900px; left: 129px; z-index: 0; }
.textbox-47-style1 { font-size: 12pt; }
#textbox-48 { position: static; width: 491px; height: 26px; top: 920px; left: 150px; z-index: 0; }
.textbox-48-style1 { font-size: 12pt; }
#textbox-49 { position: static; width: 491px; height: 26px; top: 902px; left: 113px; z-index: 0; }
.textbox-49-style1 { font-size: 12pt; }
#textbox-50 { position: static; width: 491px; height: 26px; top: 891px; left: 155px; z-index: 0; }
.textbox-50-style1 { font-size: 12pt; }
#textbox-51 { position: static; width: 491px; height: 26px; top: 892px; left: 126px; z-index: 0; }
.textbox-51-style1 { font-size: 12pt; }
#textbox-52 { position: static; width: 491px; height: 26px; top: 995px; left: 107px; z-index: 0; }
.textbox-52-style1 { font-size: 12pt; }
#textbox-53 { position: static; width: 491px; height: 26px; top: 998px; left: 127px; z-index: 0; }
.textbox-53-style1 { font-size: 12pt; }
#textbox-54 { position: static; width: 491px; height: 26px; top: 1028px; left: 149px; z-index: 0; }
.textbox-54-style1 { font-size: 12pt; }
#textbox-55 { position: static; width: 491px; height: 26px; top: 1039px; left: 176px; z-index: 0; }
.textbox-55-style1 { font-size: 12pt; }
#textbox-56 { position: static; width: 491px; height: 26px; top: 1047px; left: 152px; z-index: 0; }
.textbox-56-style1 { font-size: 12pt; }
#textbox-57 { position: static; width: 491px; height: 26px; top: 1084px; left: 132px; z-index: 0; }
.textbox-57-style1 { font-size: 12pt; }
#textbox-58 { position: static; width: 491px; height: 26px; top: 1083px; left: 148px; z-index: 0; }
.textbox-58-style1 { font-size: 12pt; }
#textbox-59 { position: static; width: 491px; height: 26px; top: 1083px; left: 14px; z-index: 0; }
.textbox-59-style1 { font-size: 12pt; }
#textbox-60 { position: static; width: 491px; height: 26px; top: 1125px; left: 75px; z-index: 0; }
.textbox-60-style1 { font-size: 12pt; }
#textbox-61 { position: static; width: 491px; height: 26px; top: 1144px; left: 115px; z-index: 0; }
.textbox-61-style1 { font-size: 12pt; }
#textbox-62 { position: static; width: 491px; height: 26px; top: 1184px; left: 93px; z-index: 0; }
.textbox-62-style1 { font-size: 12pt; }
#textbox-63 { position: static; width: 491px; height: 26px; top: 1290px; left: 137px; z-index: 0; }
.textbox-63-style1 { font-size: 12pt; }
#textbox-64 { position: static; width: 491px; height: 26px; top: 1312px; left: 197px; z-index: 0; }
.textbox-64-style1 { font-size: 12pt; }
#textbox-65 { position: static; width: 491px; height: 26px; top: 1297px; left: 168px; z-index: 0; }
.textbox-65-style1 { font-size: 12pt; }
#textbox-66 { position: static; width: 491px; height: 26px; top: 1337px; left: 41px; z-index: 0; }
.textbox-66-style1 { font-size: 12pt; }
#textbox-67 { position: static; width: 491px; height: 26px; top: 1365px; left: 156px; z-index: 0; }
.textbox-67-style1 { font-size: 12pt; }
#textbox-68 { position: static; width: 491px; height: 26px; top: 1381px; left: 174px; z-index: 0; }
.textbox-68-style1 { font-size: 12pt; }
#textbox-69 { position: static; width: 491px; height: 26px; top: 1383px; left: 112px; z-index: 0; }
.textbox-69-style1 { font-size: 12pt; }
#textbox-88 { padding: 3px; position: absolute; width: 106px; height: 53px; top: 427px; left: 548px; z-index: 0; font-size: 11pt; }
#textbox-89 { position: absolute; width: 229px; height: 29px; top: 185px; left: 561px; z-index: 0; }
.textbox-89-style1 { font-size: 10pt; }
#textbox-91 { position: absolute; width: 264px; height: 29px; top: 315px; left: 668px; z-index: 0; }
.textbox-91-style1 { font-size: 12pt; }
.textbox-88-style1 { text-align: center; }
#textbox-88 a { color: rgb(11, 11, 11); }
#textbox-88 a:visited { color: rgb(10, 10, 10); }
.textbox-88-style2 { font-size: 12pt; }
#textbox-93 { position: absolute; width: 261px; height: 55px; top: 420px; left: 676px; z-index: 0; }
.textbox-93-style1 { font-size: 12pt; }
#image-1 { position: absolute; width: 424px; height: 108px; top: 125px; left: 527px; z-index: 0; }
#image-2 { position: absolute; width: 421px; height: 239px; top: 245px; left: 527px; z-index: 0; }
#image-3 { position: absolute; width: 440px; height: 75px; top: 46px; left: 511px; z-index: 0; }
#textbox-94 { position: absolute; width: 472px; height: 70px; top: 50px; left: 494px; z-index: 0; font-size: 12pt; }
.textbox-94-style1 { text-align: center; }
.textbox-94-style2 { font-size: 12pt; }
.textbox-94-style3 { text-decoration: underline; }
.textbox-94-style4 { font-size: 12pt; }
