.textbox-5-style1 { font-size: 24pt; }
#textbox-5 { z-index: 0; position: absolute; width: 459px; height: 50px; top: 60px; left: 15px; }
.textbox-10-style2 { font-size: 12pt; }
.textbox-10-style1 { text-align: center; }
#textbox-10 { position: absolute; width: 393px; height: 36px; top: 270px; left: 481px; z-index: 0; padding: 0px; border: 2px solid rgb(182, 181, 179); -moz-border-radius: 15px 15px 15px 15px; -webkit-border-radius: 15px 15px 15px 15px; border-radius: 15px 15px 15px 15px; behavior: url(/PIE.htc); }
#button-2 { position: absolute; height: 50px; width: 100px; margin: 0px; top: 479px; left: 18px; z-index: 0; color: rgb(0, 0, 0); text-align: center; }
.textbox-9-style1 { font-size: 12pt; }
#textbox-9 { position: absolute; width: 195px; height: 27px; top: 277px; left: 118px; z-index: 0; }
.textbox-7-style1 { font-size: 10pt; color: rgb(255, 0, 0); font-weight: bold; }
#textbox-7 { position: absolute; width: 308px; height: 28px; top: 163px; left: 383px; z-index: 0; }
.textbox-8-style1 { font-size: 10pt; color: rgb(255, 0, 0); font-weight: bold; }
#button-1 { position: absolute; height: 53px; width: 112px; margin: 0px; top: 261px; left: 325px; z-index: 0; color: rgb(0, 0, 0); text-align: center; font-size: 13pt; }
#textEntryInteraction-r_enter_email_address { position: absolute; width: 537px; top: 193px; left: 327px; height: 31px; z-index: 0; }
.textbox-6-style1 { font-size: 12pt; }
#textbox-6 { z-index: 1; position: absolute; width: 260px; height: 27px; top: 190px; left: 58px; }
.textbox-1-style3 { font-size: 16pt; }
.textbox-1-style2 { font-size: 12pt; }
.textbox-1-style1 { text-align: center; color: rgb(255, 255, 255); }
#body-container { width: 970px; color: rgb(34, 61, 124); font-family: Verdana,Geneva,sans-serif; font-size: 16pt; margin-left: auto; margin-right: auto; }
a:visited { color: rgb(128, 0, 128); }
body {  }
