#button-2 { border: 0px none ; margin: 0px; padding: 0px; position: absolute; height: 51px; width: 147px; background-color: rgb(238, 238, 238); top: 624px; left: 62px; z-index: 0; }
.textbox-82-style1 { font-size: 10pt; color: rgb(255, 0, 0); font-weight: bold; }
#textbox-10 { position: absolute; width: 242px; height: 28px; top: 314px; left: 684px; z-index: 0; }
#textEntryInteraction-number_of_activities_completed { position: absolute; width: 59px; top: 232px; left: 820px; height: 31px; z-index: 0; }
.textbox-81-style1 { font-size: 12pt; }
.textbox-80-style2 { font-size: 16pt; }
.textbox-80-style1 { text-align: center; }
#textbox-78 { position: absolute; width: 568px; height: 1079px; top: 196px; left: 16px; z-index: 0; }
.textbox-15-style2 { font-size: 12pt; }
.textbox-19-style1 { font-size: 24pt; }
#textbox-19 { position: absolute; width: 333px; height: 49px; top: 60px; left: 15px; z-index: 0; }
.textbox-15-style1 { text-align: center; }
#textbox-81 { position: absolute; width: 137px; height: 62px; top: 227px; left: 655px; z-index: 0; font-size: 12pt; }
#textbox-80 { padding: 10px; position: absolute; width: 323px; height: 191px; top: 118px; left: 625px; z-index: 0; background-color: rgb(202, 222, 233); -moz-border-radius-topleft: 5px; -webkit-border-radius-topleft: 5px; border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -webkit-border-radius-topright: 5px; border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-radius-bottomright: 5px; border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-radius-bottomleft: 5px; border-radius-bottomleft: 5px; font-size: 16pt; behavior: url(/PIE.htc); }
.textbox-78-style1 { font-size: 12pt; }
.textbox-76-style1 { font-size: 12pt; }
#textbox-15 { padding: 10px; position: absolute; width: 568px; height: 58px; top: 120px; left: 16px; z-index: 0; background-color: rgb(202, 222, 233); -moz-border-radius-topleft: 5px; -webkit-border-radius-topleft: 5px; border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -webkit-border-radius-topright: 5px; border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-radius-bottomright: 5px; border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-radius-bottomleft: 5px; border-radius-bottomleft: 5px; font-size: 16pt; behavior: url(/PIE.htc); }
.textbox-14-style2 { font-size: 12pt; }
.textbox-14-style1 { text-align: center; }
.textbox-13-style2 { font-size: 12pt; font-weight: bold; }
.textbox-13-style1 { color: rgb(255, 0, 0); }
.textbox-12-style3 { color: rgb(255, 255, 255); }
.textbox-12-style2 { color: rgb(255, 255, 255); }
.textbox-12-style1 { font-size: 12pt; }
.textbox-11-style3 { color: rgb(255, 255, 255); }
.textbox-11-style2 { color: rgb(255, 255, 255); }
.textbox-10-style2 { font-size: 10pt; font-weight: bold; }
.textbox-10-style1 { font-size: 10pt; color: rgb(255, 0, 0); font-weight: bold; }
.textbox-9-style2 { font-size: 12pt; font-weight: bold; }
.textbox-9-style1 { color: rgb(255, 0, 0); }
.textbox-3-style2 { font-size: 12pt; }
.textbox-8-style1 { font-size: 12pt; }
.textbox-2-style1 { font-size: 12pt; }
#button-1 { margin: 0px; position: absolute; height: 59px; width: 130px; top: 603px; left: 822px; z-index: 0; color: rgb(0, 0, 0); text-align: center; }
.textbox-1-style2 { font-size: 16pt; color: rgb(255, 255, 255); }
.textbox-1-style1 { text-align: center; }
a:visited { color: rgb(128, 0, 128); }
#body-container { width: 970px; margin-left: auto; margin-right: auto; color: rgb(34, 61, 124); font-size: 16pt; font-family: Verdana,Geneva,sans-serif; }
body {  }
.textbox-3-style1 { font-size: 12pt; }
.textbox-5-style1 { font-size: 12pt; }
.textbox-5-style2 { color: rgb(255, 255, 255); }
.textbox-5-style3 { color: rgb(255, 255, 255); }
.textbox-6-style1 { font-size: 12pt; }
.textbox-6-style2 { color: rgb(255, 255, 255); }
.textbox-6-style3 { color: rgb(255, 255, 255); }
.textbox-7-style1 { font-size: 12pt; }
.textbox-7-style2 { color: rgb(255, 255, 255); }
.textbox-7-style3 { color: rgb(255, 255, 255); }
.choiceInteraction-interaction-1-style1 { font-size: 12pt; }
.textbox-11-style1 { font-size: 12pt; }
.textbox-77-style1 { font-size: 12pt; }
