#image-1 { position: absolute; width: 230px; height: 307px; top: 87px; left: 595px; z-index: 0; }
#textbox-6 { position: absolute; width: 470px; height: 247px; top: 156px; left: 11px; z-index: 0; }
.textbox-5-style1 { font-size: 24pt; }
#textbox-5 { z-index: 0; position: absolute; width: 391px; height: 50px; top: 60px; left: 15px; }
#button-5 { position: absolute; height: 50px; width: 100px; margin: 0px; top: 479px; left: 848px; z-index: 0; color: rgb(0, 0, 0); text-align: center; }
a:visited { color: rgb(128, 0, 128); }
#body-container { width: 970px; margin-left: auto; margin-right: auto; color: rgb(34, 61, 124); font-size: 16pt; font-family: Verdana,Geneva,sans-serif; }
body {  }
