.textbox-5-style1 { font-size: 24pt; }
#textbox-5 { z-index: 0; position: absolute; width: 549px; height: 50px; top: 60px; left: 15px; }
#textbox-6 { position: absolute; width: 543px; height: 290px; top: 170px; left: 14px; z-index: 0; font-size: 15pt; }
#image-1 { position: absolute; width: 322px; height: 280px; top: 146px; left: 579px; z-index: 0; }
#button-5 { margin: 0px; position: absolute; height: 50px; width: 100px; top: 479px; left: 848px; z-index: 0; color: rgb(0, 0, 0); text-align: center; }
a:visited { color: rgb(128, 0, 128); }
#body-container { width: 970px; margin-left: auto; margin-right: auto; color: rgb(34, 61, 124); font-size: 16pt; font-family: Verdana,Geneva,sans-serif; }
body {  }
