#button-2 { border: 0px none ; margin: 0px; padding: 0px; position: absolute; height: 40px; width: 130px; background-color: rgb(238, 238, 238); top: 459px; left: 96px; z-index: 0; }
#textbox-5 { position: absolute; width: 206px; height: 100px; top: 407px; left: 38px; z-index: 0; }
#textbox-4 { position: absolute; width: 274px; height: 100px; top: 343px; left: 42px; z-index: 0; }
#textbox-3 { position: absolute; width: 452px; height: 100px; top: 258px; left: 42px; z-index: 0; }
#textbox-2 { position: absolute; width: 440px; height: 100px; top: 145px; left: 42px; z-index: 0; }
.textbox-1-style1 { font-size: 24pt; }
#textbox-1 { position: absolute; width: 237px; height: 100px; top: 74px; left: 34px; z-index: 0; }
#button-1 { border: 0px none ; margin: 0px; padding: 0px; position: absolute; height: 40px; width: 130px; background-color: rgb(238, 238, 238); top: 451px; left: 771px; z-index: 0; }
#image-1 { position: absolute; width: 335px; height: 300px; top: 88px; left: 556px; z-index: 0; }
#body-container { width: 970px; color: rgb(34, 61, 124); font-family: Verdana,Geneva,sans-serif; font-size: 16pt; margin-left: auto; margin-right: auto; }
a:visited { color: rgb(128, 0, 128); }
body {  }
