#button-2 { border: 0px none ; margin: 0px; padding: 0px; position: absolute; height: 40px; width: 130px; background-color: rgb(238, 238, 238); top: 458px; left: 85px; z-index: 0; }
#textbox-4 { position: absolute; width: 207px; height: 100px; top: 363px; left: 57px; z-index: 0; }
#textbox-3 { position: absolute; width: 440px; height: 103px; top: 275px; left: 51px; z-index: 0; }
#textbox-2 { position: absolute; width: 303px; height: 100px; top: 186px; left: 56px; z-index: 0; }
.textbox-1-style1 { font-size: 24pt; }
#textbox-1 { position: absolute; width: 301px; height: 100px; top: 76px; left: 71px; z-index: 0; }
#image-1 { position: absolute; width: 352px; height: 252px; top: 131px; left: 572px; z-index: 0; }
#button-1 { border: 0px none ; margin: 0px; padding: 0px; position: absolute; height: 40px; width: 130px; background-color: rgb(238, 238, 238); top: 456px; left: 760px; z-index: 0; }
#body-container { width: 970px; color: rgb(34, 61, 124); font-family: Verdana,Geneva,sans-serif; font-size: 16pt; margin-left: auto; margin-right: auto; }
a:visited { color: rgb(128, 0, 128); }
body {  }
