#button-6 { border: 0px none ; margin: 0px; padding: 0px; position: absolute; height: 40px; width: 130px; background-color: rgb(238, 238, 238); top: 448px; left: 66px; z-index: 0; }
.textbox-4-style7 { text-align: left; }
.textbox-4-style6 { text-align: left; }
.textbox-4-style5 { text-align: left; }
.textbox-4-style4 { text-align: center; }
.textbox-4-style3 { text-align: left; }
.textbox-4-style2 { text-align: center; }
.textbox-4-style1 { text-align: center; }
a:visited { color: rgb(128, 0, 128); }
#textbox-1 { z-index: 0; position: absolute; width: 745px; height: 100px; top: 57px; left: 15px; color: rgb(34, 61, 124); }
.textbox-1-style1 { font-size: 24pt; }
#body-container { width: 970px; color: rgb(34, 61, 124); font-family: Verdana,Geneva,sans-serif; font-size: 16pt; margin-left: auto; margin-right: auto; }
#textbox-3 { position: absolute; width: 628px; height: 296px; top: 116px; left: 27px; -moz-border-radius-topleft: 21px; -webkit-border-radius-topleft: 21px; border-radius-topleft: 21px; -moz-border-radius-topright: 21px; -webkit-border-radius-topright: 21px; border-radius-topright: 21px; -moz-border-radius-bottomright: 21px; -webkit-border-radius-bottomright: 21px; border-radius-bottomright: 21px; -moz-border-radius-bottomleft: 21px; -webkit-border-radius-bottomleft: 21px; border-radius-bottomleft: 21px; background-color: rgb(234, 241, 222); z-index: 0; color: rgb(119, 147, 60); behavior: url(/PIE.htc); }
#button-5 { margin: 0px; position: absolute; height: 59px; width: 130px; top: 429px; left: 748px; z-index: 1; color: rgb(0, 0, 0); text-align: center; }
#textbox-4 { z-index: 0; position: absolute; width: 618px; height: 271px; top: 139px; left: 30px; }
.textbox-3-style1 { text-align: center; }
body {  }
