#button-2 { margin: 0px; position: absolute; height: 50px; width: 100px; top: 479px; left: 18px; z-index: 0; color: rgb(0, 0, 0); text-align: center; }
.textbox-7-style1 { font-size: 10pt; color: rgb(255, 0, 0); font-weight: bold; }
#textbox-7 { position: absolute; width: 365px; height: 28px; top: 161px; left: 440px; z-index: 0; }
.textbox-10-style1 { font-size: 10pt; color: rgb(255, 0, 0); font-weight: bold; }
#button-1 { margin: 0px; position: absolute; height: 59px; width: 130px; top: 270px; left: 482px; z-index: 0; color: rgb(0, 0, 0); text-align: center; }
.textbox-9-style1 { font-size: 12pt; }
#textbox-9 { position: absolute; width: 195px; height: 27px; top: 286px; left: 266px; z-index: 0; }
#textEntryInteraction-goal_setting_enter_mobile_number { position: absolute; width: 258px; top: 204px; left: 481px; height: 31px; z-index: 0; }
.textbox-5-style1 { font-size: 12pt; }
#textbox-5 { position: absolute; width: 328px; height: 25px; top: 204px; left: 145px; z-index: 1; }
.textbox-11-style1 { font-size: 24pt; }
#textbox-11 { z-index: 0; position: absolute; width: 459px; height: 50px; top: 60px; left: 15px; }
#body-container { width: 970px; color: rgb(34, 61, 124); font-family: Verdana,Geneva,sans-serif; font-size: 16pt; margin-left: auto; margin-right: auto; }
a:visited { color: rgb(128, 0, 128); }
body {  }
