#button-6 { border: 0px none ; margin: 0px; padding: 0px; position: absolute; height: 40px; width: 130px; background-color: rgb(238, 238, 238); top: 465px; left: 56px; z-index: 0; }
#body-container { width: 970px; color: rgb(34, 61, 124); font-family: Verdana,Geneva,sans-serif; font-size: 16pt; margin-left: auto; margin-right: auto; }
#button-5 { margin: 0px; position: absolute; height: 50px; width: 100px; top: 463px; left: 846px; z-index: 1; color: rgb(0, 0, 0); text-align: center; }
.textbox-4-style2 { font-size: 12pt; }
.textbox-4-style1 { text-align: center; }
#textbox-4 { position: absolute; width: 197px; height: 40px; top: 486px; left: 648px; z-index: 0; }
#textbox-2 { border-style: solid; border-width: 2px; padding: 10px; position: absolute; width: 837px; height: 295px; top: 148px; left: 66px; z-index: 0; font-size: 12pt; -moz-border-radius-topleft: 15px; -webkit-border-radius-topleft: 15px; border-radius-topleft: 15px; -moz-border-radius-topright: 15px; -webkit-border-radius-topright: 15px; border-radius-topright: 15px; -moz-border-radius-bottomright: 15px; -webkit-border-radius-bottomright: 15px; border-radius-bottomright: 15px; -moz-border-radius-bottomleft: 15px; -webkit-border-radius-bottomleft: 15px; border-radius-bottomleft: 15px; behavior: url(/PIE.htc); }
#image-2 { position: absolute; width: 241px; height: 188px; top: 206px; left: 624px; z-index: 0; }
.textbox-8-style1 { font-size: 12pt; }
#textbox-8 { position: absolute; width: 502px; height: 120px; top: 297px; left: 93px; z-index: 0; font-size: 12pt; }
.textbox-7-style2 { font-weight: bold; }
.textbox-7-style1 { font-size: 12pt; }
#textbox-7 { z-index: 0; position: absolute; width: 477px; height: 86px; top: 177px; left: 94px; font-size: 12pt; }
.textbox-1-style1 { font-size: 24pt; }
#textbox-1 { z-index: 0; position: absolute; width: 923px; height: 57px; top: 57px; left: 16px; color: rgb(34, 61, 124); }
a:visited { color: rgb(128, 0, 128); }
body {  }
