.textbox-1-style1_lifecit_logo_aqua { color: rgb(255, 255, 255); font-weight: bold; }
#textbox-1_lifecit_logo_aqua { position: absolute; width: 113px; height: 28px; top: 7px; left: 803px; z-index: 0; }
#image-1_lifecit_logo_aqua { position: absolute; width: 970px; height: 550px; top: 0px; z-index: 0; }
#image-2_lifecit_logo_aqua { position: absolute; width: 970px; height: 42px; top: 0px; z-index: 0; }
#image-5_lifecit_logo_aqua { position: absolute; width: 21px; height: 31px; top: 4px; left: 926px; z-index: 0; }
#container-body { min-height: 551px; height: 550px; }
a:visited { color: rgb(128, 0, 128); }
#body-container { width: 970px; margin-left: auto; margin-right: auto; color: rgb(34, 61, 124); font-size: 16pt; font-family: Verdana,Geneva,sans-serif; }
body {  }
