#choiceInteraction-interaction1 { position: static; width: 368px; height: 98px; top: 0px; left: 0px; z-index: 0; float: left; }
#container-1 { z-index: 0; position: absolute; height: 96px; top: 122px; left: 166px; }
#button-1 { border: 0px none ; margin: 0px; padding: 0px; position: absolute; height: 40px; width: 130px; background-color: rgb(238, 238, 238); top: 304px; left: 260px; z-index: 0; }
a:visited { color: rgb(128, 0, 128); }
#body-container {  width: 800px; margin-left: auto; margin-right: auto; color: rgb(0, 0, 0); font-size: 10pt; font-family: arial,helvetica,sans-serif; }
body {  }
