.textbox-207-style2 { font-size: 12pt; }
.textbox-207-style1 { font-size: 24pt; }
#textbox-207 { position: absolute; width: 191px; height: 41px; top: 423px; left: 378px; z-index: 0; font-size: 12pt; }
.textbox-206-style3 { font-family: arial; }
.textbox-206-style2 { font-size: 12pt; }
.textbox-206-style1 { font-size: 16pt; color: rgb(255, 0, 0); font-weight: bold; }
.textbox-4-style3 { font-size: 12pt; }
.textbox-4-style2 { font-size: 12pt; }
#button-3 { margin: 0px; position: absolute; height: 53px; width: 112px; top: 447px; left: 23px; z-index: 0; color: rgb(0, 0, 0); text-align: center; }
.textbox-7-style2 { font-size: 12pt; }
.textbox-7-style1 { text-align: center; }
#button-2 { margin: 0px; position: absolute; height: 53px; width: 112px; top: 425px; left: 572px; z-index: 0; color: rgb(0, 0, 0); text-align: center; }
#textEntryInteraction-r_create_password { position: absolute; width: 280px; top: 258px; left: 500px; height: 31px; z-index: 0; }
#textEntryInteraction-r_create_user_name { position: absolute; width: 282px; top: 190px; left: 499px; height: 31px; z-index: 0; }
.textbox-6-style1 { font-size: 12pt; }
#textbox-6 { position: absolute; width: 997px; height: 39px; top: 111px; left: 15px; z-index: 0; }
.textbox-4-style1 { text-align: center; }
#textbox-4 { border: 0px solid rgb(255, 127, 0); padding: 10px; position: absolute; width: 698px; height: 72px; top: 324px; left: 130px; z-index: 0; -moz-border-radius-topleft: 15px; -webkit-border-radius-topleft: 15px; border-radius-topleft: 15px; -moz-border-radius-topright: 15px; -webkit-border-radius-topright: 15px; border-radius-topright: 15px; -moz-border-radius-bottomright: 15px; -webkit-border-radius-bottomright: 15px; border-radius-bottomright: 15px; -moz-border-radius-bottomleft: 15px; -webkit-border-radius-bottomleft: 15px; border-radius-bottomleft: 15px; color: rgb(205, 0, 0); behavior: url(/PIE.htc); }
.textbox-3-style1 { font-size: 12pt; }
#textbox-3 { position: absolute; width: 420px; height: 29px; top: 262px; left: 56px; z-index: 0; }
.textbox-2-style1 { font-size: 12pt; }
#textbox-2 { position: absolute; width: 330px; height: 32px; top: 198px; left: 149px; z-index: 0; }
.textbox-1-style2 { color: rgb(255, 255, 255); }
.textbox-1-style1 { text-align: center; }
a:visited { color: rgb(128, 0, 128); }
#body-container { width: 970px; margin-left: auto; margin-right: auto; color: rgb(34, 61, 124); font-size: 16pt; font-family: Verdana,Geneva,sans-serif; }
body {  }
#textbox-137 { left: 518px; top: 160px; z-index: 0; position: absolute; width: 257px; height: 25px; }
.textbox-137-style1 { font-size: 16pt; color: rgb(255, 0, 0); font-weight: bold; }
.textbox-137-style2 { font-size: 12pt; }
.textbox-137-style3 { font-family: arial; }
#textbox-148 { position: absolute; width: 375px; height: 25px; top: 145px; left: 446px; z-index: 0; }
.textbox-148-style1 { font-size: 12pt; }
.textbox-148-style2 { font-weight: bold; color: rgb(255, 0, 0); }
.textbox-148-style3 { font-family: arial; }
#textbox-204 { left: 512px; top: 231px; z-index: 0; position: absolute; width: 255px; height: 28px; }
.textbox-204-style1 { font-size: 16pt; color: rgb(255, 0, 0); font-weight: bold; }
.textbox-204-style2 { font-size: 12pt; }
.textbox-204-style3 { font-family: arial; }
#textbox-5 { z-index: 0; position: absolute; width: 382px; height: 50px; top: 60px; left: 15px; }
.textbox-5-style1 { font-size: 24pt; }
#textbox-205 { position: absolute; width: 703px; height: 68px; top: 327px; left: 127px; color: rgb(34, 61, 124); background-color: rgb(253, 211, 211); -moz-border-radius-topleft: 15px; -webkit-border-radius-topleft: 15px; border-radius-topleft: 15px; -moz-border-radius-topright: 15px; -webkit-border-radius-topright: 15px; border-radius-topright: 15px; -moz-border-radius-bottomright: 15px; -webkit-border-radius-bottomright: 15px; border-radius-bottomright: 15px; -moz-border-radius-bottomleft: 15px; -webkit-border-radius-bottomleft: 15px; border-radius-bottomleft: 15px; z-index: 0; behavior: url(/PIE.htc); }
